In [2]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]

In [84]:
# 1. How many students are there? 

import statistics


len(students)

14

In [80]:
# 2. How many students prefer light coffee? For each type of coffee roast?

light_coffee_drinkers = 0

for student in students:
    if student['coffee_preference'] == 'light':
        light_coffee_drinkers += 1
        
        
light_coffee_drinkers

3

In [5]:
# 2 part 2
# For each type of coffee roast?
roasts = {}



for student in students:
    preference = student['coffee_preference']
    if preference in roasts.keys():
        roasts[preference] += 1
    else:
        roasts[preference] = 1
        
roasts

{'light': 3, 'medium': 6, 'dark': 5}

In [74]:
# 3. How many types of each pet are there?

pet_species_counts = {}

for student in students:
    stu_pets = student['pets']
    for pet in stu_pets:
        species = pet['species']
        if species in pet_species_counts.keys():
            pet_species_counts[species] += 1
        else:
            pet_species_counts[species] = 1
    
pet_species_counts

{'horse': 4, 'cat': 11, 'dog': 3}

In [75]:
# 4. How many grades does each student have? 
# Do they all have the same number of grades?
student_grades = []

# len(students[0]['key'])

for student in students:
    student_grades.append(len(student['grades']))
    
student_grades

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

In [77]:
# 5 What is each student's grade average?

student_grades = []

for student in students:
    stu_grades = student['grades']
    stu_mean = statistics.mean(stu_grades)
    student_grades.append(stu_mean)
    
student_grades

[78.5,
 83.5,
 73.25,
 78.5,
 81.5,
 80.75,
 84.5,
 88.75,
 88.75,
 82.5,
 81.5,
 91,
 79,
 89]

In [78]:
# 6 How many pets does each student have?
number_pets = {}

for student in students:
    stu_name = student['student']
    stu_pets = len(student['pets'])
    number_pets[stu_name] = stu_pets
    
number_pets 


# for student in students:
#     num_pets = len(student['pets'])
#     number_pets.append(num_pets)


# len(number_pets)

{'Ada Lovelace': 1,
 'Thomas Bayes': 0,
 'Marie Curie': 1,
 'Grace Hopper': 2,
 'Alan Turing': 3,
 'Rosalind Franklin': 0,
 'Elizabeth Blackwell': 1,
 'Rene Descartes': 2,
 'Ahmed Zewail': 2,
 'Chien-Shiung Wu': 1,
 'William Sanford Nye': 2,
 'Carl Sagan': 1,
 'Jane Goodall': 1,
 'Richard Feynman': 1}

In [27]:
# 7 How many students are in web development? data science?
student_course = {}
# students[0]['course']

for student in students:
    stu_course = student['course']
    if stu_course in student_course.keys():
        student_course[stu_course] +=1
    else:
        student_course[stu_course] = 1       

student_course

{'web development': 7, 'data science': 7}

In [87]:
#8 What is the average number of pets for students in web 
# development?
num_pets_web = []


for student in students:
    stu_course = student['course']
    if stu_course == 'web development':
        num_pets = len(student['pets'])
        num_pets_web.append(num_pets)


        
statistics.mean(num_pets_web)

1.2857142857142858

In [89]:
# 9. What is the average pet age for students in data science?
age_pets_data = []

for student in students:
    stu_course = student['course']
    if stu_course == 'data science' and student['pets'] != []:
        stu_pet = student['pets'][0]['age']
        age_pets_data.append(stu_pet)

# stu_pet = students[0]['pets'][0]['age']
# stu_pet = students[0]['pets']
# stu_pet[0]['age']
statistics.mean(age_pets_data)

6.4

In [90]:
# 10 What is most frequent coffee preference for data science 
# students?

# make empty list
coffee_pref_data = []

# make a list of all the coffee preferences 
for student in students:
    cof_pref = student['coffee_preference']
    stu_course = student['course']
    if stu_course == 'data science':
        coffee_pref_data.append(cof_pref)


# run mode function over list

statistics.mode(coffee_pref_data)

'medium'

In [63]:
# 11 What is the least frequent coffee preference for web development 
# students?
coffee_pref_web = []

for student in students:
    cof_pref = student['coffee_preference']
    stu_course = student['course']
    if stu_course == 'web development':
        coffee_pref_web.append(cof_pref)
        
        
min(set(coffee_pref_web), key=coffee_pref_web.count)

'medium'

In [91]:
# 12 What is the average grade for students with at least 2 pets?
import statistics

stu_grades_list = []

for student in students:
    stu_pets = student['pets']
    stu_grades = student['grades']
    if len(stu_pets) >= 2:
        avg_grade = statistics.mean(stu_grades)
        stu_grades_list.append(avg_grade)
        
statistics.mean(stu_grades_list)

83.8

In [7]:
# 13. How many students have 3 pets?
stu_with_pets = 0

for student in students:
    stu_pets = student['pets']
    if len(stu_pets) == 3:
        stu_with_pets += 1
        
stu_with_pets

1

In [26]:
# 14. What is the average grade for students with 0 pets?
import statistics

avg_grades_pets = []

for student in students:
    stu_pets = student['pets']
    stu_grades = student['grades']
    if len(stu_pets) == 0:
        avg_grades = statistics.mean(stu_grades)
        avg_grades_pets.append(avg_grades)


statistics.mean(avg_grades_pets)

82.125

In [46]:
# 15. What is the average grade for web development students? 
# data science students?

web_dev_avg = []
data_science_avg = []

for student in students:
    stu_grades = student['grades']
    stu_course = student['course']
    if stu_course == 'web development':
        avg_grades = statistics.mean(stu_grades)
        web_dev_avg.append(avg_grades)
    if stu_course == 'data science':
        avg_grades = statistics.mean(stu_grades)
        data_science_avg.append(avg_grades)

wd_avg = statistics.mean(web_dev_avg)
# wd_avg
ds_avg = statistics.mean(data_science_avg)

[wd_avg, ds_avg]

[81.17857142857143, 84.67857142857143]

In [52]:
# 16. What is the average grade range 
# (i.e. highest grade - lowest grade) for dark coffee drinkers?
avg_grade_dark = []

for student in students:
    stu_grades = student['grades']
    stu_cof = student['coffee_preference']
    if stu_cof == 'dark':
        avg_grades = statistics.mean(stu_grades)
        avg_grade_dark.append(avg_grades)
        
minav = min(avg_grade_dark)
maxav = max(avg_grade_dark)

maxav - minav

6.0

In [57]:
# 17. What is the average number of pets for medium coffee drinkers?

avg_pets_med = []

for student in students:
    stu_pets = len(student['pets'])
    stu_cof = student['coffee_preference']
    if stu_cof == 'medium':
        avg_pets_med.append(stu_pets)
        
statistics.mean(avg_pets_med)

1.1666666666666667

In [67]:
# 18. What is the most common type of pet for web development students?

pet_web_dev = []

for student in students:
    stu_pets = student['pets']
    stu_course = student['course']
    if stu_course == 'web development':
#   for variable in data
        for pet in stu_pets:
            species = pet['species']
            pet_web_dev.append(species)
        
max(set(pet_web_dev), key=pet_web_dev.count)

# pet_web_dev

'horse'

In [94]:
# 19. What is the average name length?
name_length = []

for student in students:
    clear_name = student['student'].replace(" ", "")
    stu_len = len(clear_name)
    name_length.append(stu_len)

statistics.mean(name_length)

12.571428571428571

In [105]:
# 20. What is the highest pet age for light coffee drinkers?
pet_ages = []

for student in students:
    stu_cof = student['coffee_preference']
    stu_pet = student['pets']
    if stu_cof == 'light':
        for pet in stu_pet:
            age = pet['age']
            pet_ages.append(age)
        
max(pet_ages)

8