# Markdown

In [2]:
greeting = 'Hi Everybody!'
print(greeting)

Hi Everybody!

In [1]:
3 * 5

15

In [ ]:
# Parentheses mean were running a function

In [1]:
# List literal
beatles = ["John", "Paul", "George", "Ringo"]
beatles

['John', 'Paul', 'George', 'Ringo']

# Variables
- Whats the big idea?
- Naming things is powerful
- Variables point to values and can be re-pointed to other values

- NEW valued variable = old value + something new
- Example:

In [9]:
total = 0
total = total + 1.99
total = total + 5.99
total

7.98

In [10]:
## Booleans (True/False)
total < 20

True

In [11]:
# != is not equal to
2 != 3

True

In [13]:
# In operator checks membership of the value on the left
# in the collection on the right
# collection could be a string, list, tuple, ...
2 in [1, 2, 3, 4]

True

In [15]:
"a" in "banana"

True

## Logical Operators
- not: switches the boolean values of a value
- and: making sure both pieces are true
- or: making sure at least on pieces is true

In [17]:
doing_python_right_now = True
currently_on_mars = False

In [18]:
# Ands are limiting
doing_python_right_now and currently_on_mars

False

In [19]:
#ORS expand our possibilities
doing_python_right_now or currently_on_mars

True

In [20]:
# When we combione and,or, not, (but == and not)
# We want to use parentheses to enforce execution order

In [23]:
# A user can edit a post if they are logged in and either the admin
# or author of that post
is_logged_in = True
is_admin = False
is_author = True

can_edit_post = is_logged_in and (is_admin or is_author)
can_edit_post

True

In [ ]:
# Mathemaical Operators
# T, -, *, /, **

In [24]:
2 ** 3 # two raised to the 3rd power

8

In [25]:
12 / 3

4.0

In [27]:
4 == 4.0000001

False

In [30]:
# Modulo Operator == remainder operator
# 5 % 2 should read as five divded by 2 leaves what value?
5 % 2

1

In [31]:
# first_name % second_number == has no remainder means:
# the furstnumber is evenly divisible by the second number
4 % 2 == 0

True

In [32]:
## // quotient
# two goes into 3 one full time
3 // 2

1

In [34]:
# 3 divided by two leaves 1 as the remainder
3 % 2

1

In [35]:
3.33 // 2

1.0

## Strings
- letters or numbers contained in double or single quotes
- if we start a string with double quotes, we need to end with double quotes
- if we start w single quotes, end with single quotes
- if we need a string that contains characters including "'" we use 3 quation marks

In [38]:
message = "It's been great to program Python with yall"
message

"It's been great to program Python with yall"

In [46]:
# Use triple quotes for docstring
def is_even(n): 
    '''returns a boolean if the input is an even number'''
    return n % 2 == 0

In [45]:
is_even?

In [47]:
len?

In [48]:
len("Hello")

5

In [49]:
print?

## String methods and indexing
## List and list operations
## Tuples are lists that don't change